.app-header{
  height: 40px;
  font-size: 30px;
  text-align: center;
  font-family: cursive;
  background: blueviolet;
  color: white;
  padding: 10px;
}
.header{
  position: fixed;
  width: 100%;
  background: #fff;
}
.App{
  padding-top:100px;
}



